body{
	background-image: url("http://s39.podbean.com/pb/5acc142b93477940c96e53fbc7a086d7/541717b3/data2/blogs17/43709/uploads/PHIL_COLLINS_WALLPAPER.jpg");
	color: maroon;
}

 div {
 	border-style: solid;
 	border-width: 5px;
 	padding: 30px;
 	border-color: transparent;
 	text-align: center;
 }
 
	
}
.container {
	
	
}
.row{
	
}